@font-face {
    font-family: Rubik-Light;
    src: url(fonts/rubik/Rubik-Light.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Rubik-Light;
    overflow-x: hidden;
}


/* NAV */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 50;
    /* COLOR NOT FINAL */
    background-color: transparent;
    border-bottom: #BDF7C1;
    opacity: 0.2;
    transition: .3s ease;
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

nav li {
    float: left;
    padding: 10px 15px;
}

nav a {
    text-decoration: none;
    opacity: 1;
    color: #000;
}

nav:hover {
    background-color: #ECFFBD;
    opacity: 1;
    transition: .3s ease;
}


/* HEADING/BANNER */

#heading {
    /* TEMPORARY */
    min-height: 100%;
    background-image: url(img/hoverEffect.png), url('img/background.jpg');
    background-attachment: scroll,fixed;
    background-position: left top, center;
    background-repeat: no-repeat, no-repeat;
    background-size:  150px 75px, cover;
    position: relative;
}


#heading-intro h1 {
    position: absolute;
    left: 10%;
    top: 10%;
    opacity: 0;
    transition: .2s ease-in-out;
    transition-delay: 1s;
    z-index: 49;
}

.left-header h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: .2s ease-in-out;
    transition-delay: 1s;
    z-index: 49;
}

#left-tree {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: 1.8s;
}

.right-header h1 {
    position: absolute;
    right: 15%;
    top: 25%;
    opacity: 0;
    transition: .2s ease-in-out;
    transition-delay: 1s;
    z-index: 49;
}

#right-tree {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    opacity: 1;
    transition: .2s ease-in-out;
    transition-delay: 1.8s;
}


/* MAGIC */

#heading:hover #left-tree {
    opacity: 1;
    transition: .5s ease-in-out;
    transition-delay: .6s;
}

#heading:hover #right-tree {
    opacity: 0;
    transition: .5s ease-in-out;
    transition-delay: .6s;
}

#heading:hover #heading-intro h1 {
    opacity: 1;
    transition: .3s ease-in-out;
    transition-delay: 1.6s;

}

#heading:hover .left-header h1 {
    opacity: 1;
    transition: .3s ease-in-out;
    transition-delay: 2.6s;

}

#heading:hover .right-header h1 {
    opacity: 1;
    transition: .3s ease-in-out;
    transition-delay: 3.6s;
    
}


/* WHO ARE WE? */

#about {
    width: 100%;
    background-color: #FFF5C9;
}

#about h2 {
    text-align: center;
}

#about-info {
    width: 80%;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}

.members {
    display: inline-block;
    padding: 0 15px;
}

.members img {
    width: 150px;
    transition: .3s ease;
}

.members img:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.members p {
    font-size: 15px;
}

#purpose {
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}


/* REPUBLIC ACTS */

#republic-act-strip {
    width: 100%;
    background-color: #AEF4A4;
}

#republic-act-strip-content {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}

#republic-act-strip-content h2 {
    text-transform: uppercase;
}

.button{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-width: 2px;
    border-style: dashed;
    transition: .2s ease;
}

.button:hover{
    border-style: solid;
    transition: .2s ease;
}


/* FORGOTTEN BEAUTY */

#happening-now {
    width: 100%;
    background-color: #FFF5C9;
}

#happening-now-content {
    display: flex;
    flex-direction: row-reverse;
}

#lefthalf {
    width: 40%;
    text-align: center;
    padding-top: 20%;
    background-image: url(img/forgo10Beauty.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#lefthalf h2 {
    display: none;
}

#beauty {
    display: block;
}

#rightHalf {
    width: 50%;
    text-align: justify;
    padding: 30px 0;
}

#rightHalf p {
    padding: 0 15px;
}

#happening-now-tag {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

#happening-now-tag:hover {
    transform: scale(1);
    transition: .3s ease-in-out;
}

#morefun {
    font-size: 18px;
    color: #1F1CAE;
    display: block;
}

#phil {
    font-size: 50px;
}

#tag-1 {
    color: #2b80b9;
}

#tag-2 {
    color: #E74B3C;
}

#tag-3 {
    color: #F2C311;
}


/* TRASH */

#trash {
    width: 100%;
    background-color: #FFF5C9;
    padding: 15px 0;
}

#left-head {
    width: 100%;
    height: 300px;
    background-image: url(img/DONOTREAD_RESIZED.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    transform: rotate(-40deg);
}

#left-head h2 {
    display: none;
}

.highlight_red {
    color: #D71919;
}

#trash-text {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.highlight {
    color: #EF941D;
    font-size: 18px;
    text-transform: uppercase;
}

#ranking {
    text-align: center;
    font-size: 24px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

#trash-1 {
    width: 300px;
    height: 230px;
    float: right;
    padding: 0 5px;
}

#trash-2 {
    width: 300px;
    float: left;
    padding: 0 5px;
    border-radius: 5px;
}

#sign-1, #sign-2, #sign-3 {
    display: block;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 24px;
}

#sign-1 {
    color: #FB2828;
}

#sign-2 {
    color: #F7BE10;
    padding-left: 300px;
}

#sign-3 {
    padding-left: 430px;
    color: #00FF18;
}

#trash-text p:nth-child(3) {
    text-align: center;
}

#trash-text p:nth-child(7) {
    font-size: 25px;
    text-align: center;
}

#trash-text p:nth-child(8) {
    text-align: center;
}


/* TRIVIAS */

.trivia {
    background-color: #AEF4A4;
    padding: 15px 0;
    text-align: center;
}

.trivia h3 {
    text-transform: uppercase;
}

.trivia-content {
    width: 80%;
    margin: 0 auto;
}

#trivia-1 {
    width: 300px;
}


/* ENV CODE */

#environmental-code-strip {
    width: 100%;
    background-color: #AEF4A4;
}

#environmental-code-content {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}

#environmental-code-content h2 {
    text-transform: uppercase;
}


/* STATS */

#stats {
    width: 100%;
    background-color: #FFF5C9;
    padding: 10px 0;
    position: relative;
    padding-top: 100px;
    column-count: 2;
    column-width: 800px;
}

.stat-header {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    background-image: url(img/chart.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#stats-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px
}

#stats-content img {
    width: 700px;
}

#stats-content h2 {
    font-size: 18px;
    text-align: left;
}

/* TYPES OF POLLUTION */

#pollution {
    width: 100%;
    background-color: #FFF5C9;
    padding-top: 90px;
    padding-bottom: 10px;
    position: relative;
    column-count: 2;
    column-width: 900px;
}

#pollution-title {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    font-size: 40px;
    text-align: center;
    background-image: url(img/hoverEffect.png);
    background-size: 100px 50px;
    background-position: top left;
    background-repeat: no-repeat;
}

#pollution img {
    width: 800px;
    display: block;
    margin: 0 auto;
}

#soil-p, #water-p, #air-p, #noise-p, #thermal-p, #light-p{
    transition: .3s ease;
}

#soil-content, #water-content, #air-content, #noise-content, #thermal-content, #light-content {
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

#soil-head, #water-head, #air-head, #noise-head, #thermal-head, #light-head {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    z-index: 45;
    background-color: #F8F8F8;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
    border-radius: 15px;
}


#soil-text p, #water-text p, #air-text p, #noise-text p, #thermal-text p, #light-text p {
    position: absolute;
    text-align: center;
    background-color: #F8F8F8;
    opacity: 0;
    transition: .3s ease;
    left: 0;
    right:0;
    padding: 14px 0;
    border-radius: 15px;
    width: 700px;
    margin: 0 auto;
}

#soil-text p {
    top: 30%;
}

#water-text p {
    top: 35%;
}

#air-text p {
    top: 30%;
}

#noise-text p {
    top: 25%;
}

#thermal-text p {
    top: 30%;
}

#light-text p {
    top: 35%;
}

#soil-content:hover #soil-head, #soil-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#water-content:hover #water-head, #water-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#air-content:hover #air-head, #air-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#noise-content:hover #noise-head, #noise-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#thermal-content:hover #thermal-head, #thermal-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#light-content:hover #light-head, #light-content:hover p {
    opacity: 0.9;
    transition: .3s ease;
}

#soil-content:hover #soil-p, #soil-content:hover #soil-p, #water-content:hover #water-p, #air-content:hover #air-p, #noise-content:hover #noise-p, #thermal-content:hover #thermal-p, #noise-content:hover #noise-p, #light-content:hover #light-p{
    filter: blur(1px);
    transition: .3s ease;
}



/* GUIDE */

#guide-contents {
    position: relative;
    width: 100%;
    background-color: #FFF5C9;
    padding-top: 10px;
    padding-bottom: 40px
}

#guide-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

#guide-icon {
    vertical-align: middle;
    width: 50px;
}

#guide-intro {
    margin: 0 auto;
    text-align: center;
}

#guide-intro-details{
	margin: 0 5%;
}

.guide-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.guide-info {
    width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
}

#guide-1 .guide-info{
	background-image: url(img/trashBin.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

#guide-2 .guide-info{
	background-image: url(img/recycle.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#guide-3 .guide-info{
	background-image: url(img/tree.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

#guide-4 .guide-info{
	background-image: url(img/bike.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#guide-5 .guide-info{
	background-image: url(img/chatBubble.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

#guide-6 .guide-info{
	background-image: url(img/go.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}





/* FOOTER */

footer {
    width: 100%;
    background-color: #91FF93;
    padding: 10px;
}

footer ul {
    list-style: none;
}

#ownership {
    text-align: center;
    text-transform: uppercase;
}