@font-face{
	font-family: Rubik-Light;
	src: url(fonts/rubik/Rubik-Light.ttf);
}

body{
	height: 100%;
	margin: 0;
	font-family: Rubik-Light;
}

/* NAV */
nav{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	z-index: 50;

	/* COLOR NOT FINAL */
	background-color: transparent;
	border-bottom: #BDF7C1;
	opacity: 0.3;
	transition: .3s ease;
}

nav ul{
	list-style-type: none;
	display: inline-block;
}

nav li{
	float: left;
	padding: 10px 15px;
}

nav a{
	text-decoration: none;
	opacity: 1;
	color: #000;
}

nav:hover{
	background-color: #ECFFBD;
	opacity: 1;
	transition: .3s ease;
}

/* HEADING/BANNER */
#heading{
	min-height: 100%;
	/* TEMPORARY */
	background-image: url('img/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#heading-intro{
	padding: 350px 0;
	text-align: center;
}

#heading-intro h1{
	position: absolute;
	left: 10%;
	top: 15%;
	opacity: 0;
	transition: .2s ease-in-out;
	transition-delay: 1s;
}

.left-header{
	float: left;
	min-height: 100%;
}

.left-header h1{
	position: absolute;
	left: 37%;
	top: 20%;
	opacity: 0;
	transition: .2s ease-in-out;
	transition-delay: 1s;
}

#left-tree{
	position: absolute;
	bottom: 0;
	left: 30%;
	opacity: 0;
	transition: .5s ease-in-out;
	transition-delay: 1.8s;
}

#left-tree img{
	width: 600px;
}


.right-header h1{
	position: absolute;
	right: 15%;
	top: 25%;
	opacity: 0;
	transition: .2s ease-in-out;
	transition-delay: 1s;
}

#right-tree{
	position: absolute;
	bottom: 0;
	left: 30%;
	opacity: 1;
	transition: .2s ease-in-out;
	transition-delay: 1.8s;
}

#right-tree img{
	width: 600px;
}

/* MAGIC */
#heading:hover #left-tree{
	opacity: 1;
	transition: .5s ease-in-out;
	transition-delay: .6s;
}

#heading:hover #right-tree{
	opacity: 0;
	transition: .5s ease-in-out;
	transition-delay: .6s;
}

#heading:hover #heading-intro h1{
	opacity: 1;
	transition: .3s ease-in-out;
	transition-delay: 1.6s;
	z-index: 49;
}

#heading:hover .left-header h1{
	opacity: 1;
	transition: .3s ease-in-out;
	transition-delay: 2.6s;
	z-index: 49;
}

#heading:hover .right-header h1{
	opacity: 1;
	transition: .3s ease-in-out;
	transition-delay: 3.6s;
	z-index: 49;
}


/* WHO ARE WE? */
#about{
	width: 100%;
    background-color: #A1F660;
}

#about h2{
	text-align: center;
}

#about-info{
	width: 80%;
	padding: 10px 0;
	text-align: center;
	margin: 0 auto;
}

.members{
	display: inline-block;
	padding: 0 15px;
}

.members img{
	width: 150px;
}

.members p{
	font-size: 15px;
}

#purpose{
	margin: 0 auto;
	text-align: justify;
	text-align-last: center;
}

/* REPUBLIC ACTS */

#republic-act-strip{
	width: 100%;
    background-color: #A1E660;
}

#republic-act-strip-content{
	padding-top: 15px;
	padding-bottom: 25px;
	text-align: center;
}

#republic-act-strip-content h2{
	text-transform: uppercase;
}

.button-content a{
	padding: 0 15px;
	text-decoration: none;
}

/* FORGOTTEN BEAUTY */
#happening-now{
	width: 100%;
	background-color: #A1D660;
}

#happening-now-content{
	display: flex;
	flex-direction: row-reverse;
}

#lefthalf{
	width: 40%;
	text-align: center;
	padding-top: 20%;
	background-image: url(img/Stickman.png);
	background-repeat: no-repeat;
	background-position: center;
}

#lefthalf h2{
	display: none;
}

#beauty{
	display: block;
}

#rightHalf{
	width: 50%;
	text-align: justify;
	padding: 15px 0;
}

#happening-now-tag{
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
}

#happening-now-tag:hover{
	transform: scale(1);
	transition: .3s ease-in-out;
}

#morefun{
	font-size: 18px;
	color: #1F1CAE;
	display: block;
}
#phil{
	font-size: 50px;
}

#tag-1 {
    color: #2b80b9;
}

#tag-2 {
    color: #E74B3C;
}

#tag-3 {
    color: #F2C311;
}



/* TRASH */
#trash{
	width: 100%;
	background-color: #A1C660;
	padding: 15px 0;
}

#left-head{
	width: 100%;
	height: 300px;
	background-image: url(img/DONOTREAD_RESIZED.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px 300px;
	transform: rotate(-40deg);
}

#left-head h2{
	display: none;
}

#left-head .highlight_red:after{
	display: block;
	content: url(img/DONOTREAD_RESIZED.png);
}

.highlight_red{
	color: #D71919;
}

#trash-text{
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}

.highlight{
	color: red;
	font-size: 19px;
	text-transform: uppercase;
}

#ranking{
	text-align: center;
	font-size: 24px;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

#trash-1{
	width: 300px;
	height: 230px;
	float: right;
	padding: 0 5px;
}

#trash-2{
	width: 300px;
	float: left;
	padding: 0 5px;
	border-radius: 5px;
}

#sign-1, #sign-2, #sign-3{
	display:block; 
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 24px;
}

#sign-1{
	color: #FB2828;
}

#sign-2{
	color: #F7BE10;
}

#sign-3{
	padding-left: 430px;
	color: #00FF18;
}

#trash-text p:nth-child(3){
	text-align: center;
}

#trash-text p:nth-child(7){
	font-size: 25px;
}

#trash-text p:nth-child(8){
	text-align: center;
}

/* TRIVIAS */
.trivia{
	background-color: #A1B660;
	padding: 15px 0;
	text-align: center;
}

.trivia h3{
	text-transform: uppercase;
}

.trivia-content{
	width: 80%;
	margin: 0 auto;
}

#trivia-1{
	width: 300px;
}

/* ENV CODE */
#environmental-code-strip{
	width: 100%;
	background-color: #A1A660;
}

#environmental-code-content{
	padding-top: 15px;
	padding-bottom: 25px;
	text-align: center;
}

#environmental-code-content h2{
	text-transform: uppercase;
}

/* STATS */
#stats{
	width: 100%;
	background-color: #B1A660;
	padding: 10px 0;
	height: 1200px
}

.stat-header{
	text-transform: uppercase;
	text-align: center;
}

#stats-content{
	width: 80%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#stats-content img{
	width: 500px;
}

#stats-content h2{
	font-size: 18px;
	text-align: left;
}

#stat-1, #stat-2, #stat-3, #stat-4{
	position: absolute;
	width:40%;
}

#stat-1{
	left: 0;
}

#stat-2{
	right: 0;
}

#stat-3{
	top: 500px;
	left: 0;
}

#stat-4{
	top: 500px;
	right: 0;
}

/* TYPES OF POLLUTION */
#pollution{
	width: 100%;
	background-color: #C1A660;
	padding-top: 90px;
	padding-bottom: 10px;
	text-align: justify;
	column-count: 3;
	position: relative;
}

#pollution-title{
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 370px;
}

#pollution img{
	width: 100%;
}

#pollution h2, #pollution h3{
	text-align: center;
}

#soil-content, #water-content, #air-content, #noise-content, #thermal-content, #light-content{
	padding: 0 3px;
	margin: 0 auto;
}

#soil-content, #water-content, #air-content, #noise-content, #thermal-content, #light-content p{
	text-align-last: center; 
}

/* GUIDE */
#guide-contents{
	width: 100%;
	background-color: #C1B660;
	padding: 10px 0;
}

#guide-title{
	text-align: center;
}

#guide-icon{
	vertical-align: middle;
	width: 50px;
}

/* FOOTER */
footer{
	width: 100%;
	background-color: #C1C660;
}

footer ul{
	list-style: none;
}

#ownership{
	text-align: center;
	text-transform: uppercase;
}
